#react-content {
  color: black;
  font-family: sans-serif;
  background: white;
}

.small {
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
}

#logo {
  font-family: Barrio;
  color: white;
  font-size: 32px;
}


#navbar {
  background: #9befc9;
  display: block;
  font-family: arial;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0,0,0,0.5);
}

.session-form {
  color: black;
  position: absolute;
  top: 150px;
  background: white;
  padding: 50px;

  input {
    border: 1px solid black;
    width: 200px;
    display: block;
    padding-left: 5px;
    margin-bottom: 10px;
  }

  .error {
    border: none;
    box-shadow: 0 0 5px red;
  }
}

a:hover {
  text-decoration: underline;
}


#close-modal-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
